.app {
  background-color: #f8f9ff;
  width: 100vw;
  height: 100vh;
}
.left {
  position: absolute;
  width: 260px;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: #081a51;
}
.heading {
  margin-left: 30px;
  margin-top: 24px;
  display: flex;
  flex-direction: row;
}
.cheaqueheading {
  margin-left: 10px;
  margin-top: 5px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}
.titles {
  margin-top: 50px;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
}
.icon {
  margin-left: 20px;
}
.text {
  margin-left: 10px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}
.user_title {
  height: 56px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* div:hover #myId.active {
  background-color: #1b2b65;
  border-radius: 10px 0px 0px 10px;
} */
.active {
  background-color: #1b2b65;
  border-radius: 10px 0px 0px 10px;
}
